<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170933730587-436ppmdf7tjd5gnrei7onthih7s0brvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170933730587-436ppmdf7tjd5gnrei7onthih7s0brvt</string>
	<key>API_KEY</key>
	<string>AIzaSyATaZHj32OK5C4mChZ9iWgs9hKqbymws4E</string>
	<key>GCM_SENDER_ID</key>
	<string>170933730587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MostafaElshazly.Social-Media</string>
	<key>PROJECT_ID</key>
	<string>social-media-3293b</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-3293b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170933730587:ios:b6d31a9241c510f1b2e7be</string>
	<key>DATABASE_URL</key>
	<string>https://social-media-3293b.firebaseio.com</string>
</dict>
</plist>